################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/iPatch/obj
/iPatch/.vs/iPatch
